{% extends "base.html" %}

{% block content %}

{% if message %}
    <ul>
        <li>
            <p>{{message}}</p>
        </li>
    </ul>
{% endif %}
{% if not request.user.is_authenticated %}
<div style="margin-top: 30px; margin-bottom: 30px;">
    <form method='POST'> {% csrf_token %}

        <div style="margin-bottom: 10px;">
            {{form.as_p}}
        </div>
            <button type='submit'>login</button>
        </div>
        
        {% if WUP %}
            <p style="color: red;">{{ WUP }}</p>
        {% endif %}
    </form>
    
</div>
{% else %}
    <h2>you are already logged in. would you like to <a href="/logout/">log out</a>?</h2>
{% endif %}



{% endblock %}
