.inline-elements {
    display: flex;
    align-items: center;
}
.inline-elements .display-inline {
    margin-right: 10px; /* Adjust the spacing as needed */
}
.hidden {
    display: none;
}
.ingredient-form {
    border-bottom: 1px solid black;
    margin: 5px;
}