.hxh .htmx-indicator{
    display: inline;
}
.htmx-request .htmx-reverse{
    display: none;
}
.cl1{
    background-color: rgb(191, 191, 191) !important;
}
.cl2{
    background-color: rgb(102, 160, 162) !important;
}
.cl3{
    background-color: gold;
}
section{
    padding: 60px 0;
}
.custom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Creates two equal columns */
  gap: 0.5rem; /* Adjust spacing between items as needed */
}