{% extends "base.html" %}

{% block content %}

    <h1>You have entered the <span style="color: crimson;">articles</span> section (id= {{ object.id }} , slug = {{ object.slug }})</h1>
    <h2>{{ object.title }}</h2>
    <h3>{{ object.content }}</h3> 
    <p>this article was created at {{ object.created }}</p>
    {% if object.updated and object.updated|date:'Y-m-d H:i' != object.created|date:'Y-m-d H:i' %}
        <p>and was updated at {{ object.updated }}</p>
    {% endif %}
    <p>Author: <span style="color: red;">{{ object.user }}</span></p>

    {% if object.user == request.user %}

        <a href="{% url 'articles:update' slug=object.slug %}">Edit Article</a>

    {% endif %}



{% endblock content %}