{% extends "base.html" %}

{% block content %}
    {% if no_resault %}
        <h3 style="color: red;">No Resault</h3>
        <p>no article with this ({{ query }}) exists</p>
    {% elif object_list %}
        <ol>
            {% for obj in object_list %}
                <li><a href="{{ obj.get_absolute_urls }}">{{ obj.title }}</a></li>
            {% endfor %}
        </ol>
    {% elif query is None %}
        <p>search for your article in the box above</p>
    {% elif too_short %}
        <p>you must enter at least 2 characters</p>
    {% endif %}
{% endblock %}