

<!DOCTYPE html>
<html>
    <head>
        <p><a href="/login">LOGIN/LOGOUT</a></p>
        <p><a href="/admin/">ADMIN</a></p>
        <p><a href="{% url 'home' %}">HOME</a></p>

    </head>
    <body>
        
        <h1 style="color: darkcyan;">Hello Passenger</h1>
        {% comment %}
        <form action="/articles/">
            <input type="text" name="q" />
            <input type="submit" />
        </form>
        {% endcomment %}

        {% block content %}
        {% endblock content %}
        <br>
        <br>
        <br>
        
        
    </body>


    
</html>