
  <form action="." method="post" hx-post="{% url 'recipes:update' slug=object.slug %}" hx-swap="outerHTML">
      {% csrf_token %}

      {% if not message %}
            <!-- recipe form -->
            <div class="{% if form.form.required %}{{ form.required_css_class }}{% endif %} m-3">
                {% if form_r.non_field_errors %}
                    <ul class="error">
                        {% for error in form_r.non_field_errors %}
                            <li><div style="color: red;">{{ error }}</div></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% for field in form_r %}
                    <div class="mb-2">
                        {% if field.errors %}
                            <div style="color: red;" class="error">{{ field.errors }}</div>
                        {% endif %}
                        <strong>{{ field.label_tag }}</strong><br>
                        {{ field }}<br>
                    </div>
                {% endfor %}
            </div>

            <!-- ingredients inline, can be added and edited dynamically -->
            <h3 class="mt-3">Ingredients</h3>
            <div class="border-top border-warning my-2">
                {% for ingredient in object.ings.all %}
                    <!-- <div class="border-bottom border-warning"> -->
                        {% include 'recipes/partials/par-ingredients.html' with object=ingredient %}
                    <!-- </div> -->
                {% endfor %}
            </div>
            
            <!-- the div that will contain the new ings form: -->
            <div id="ings-form" class=""></div> 
            <!-- the button that gets the new form and adds if to the dive above -->
            <button hx-get="{{ create_ing_url }}" hx-trigger="click" hx-target="#ings-form" hx-swap="beforeend">Add Ingredient</button>

            {% if update %}
                <button class="htmx-reverse" type="submit">Update Recipe</button>
                <div class="htmx-indicator hxh">Saving...</div>
            {% else %}
                <button class="htmx-reverse" type="submit">Create Recipe</button>
                <div class="htmx-indicator hxh">Saving...</div>
            {% endif %}

        {% elif message %}
            {% if just_created %}
                <h4>Recipe Created Successfully</h4>
            {% else %}
                <h4>{{ message }}</h4>
            {% endif %}
            <a href="{{ object.get_absolute_urls }}">{{ object.name }}</a><br>
            <a href="{% url 'recipes:list' %}">Back to Recipes</a>
        {% endif %}
  </form>
