<!-- a partial that will get the recipe detail and gives it to the detail.html -->

<h1 style="color: darkgreen;">{{recipe.name}}, {{recipe.description}}</h1>
<h3>Ingredients:</h3>
<ol>
    {% for i in recipe.ings.all %}
        <li>{{i.name}} - {{i.quantity}} {{i.unit}} <!-- <p>({{ i.to_metric }}) - ({{ i.to_imperial }})</p> --></li>
    {% endfor %}
</ol>
<h3>Directions</h3>
<p>{{ recipe.directions }}</p><br><br><br><br>
<p>recipe created at {{recipe.created}}</p> 
{% if recipe.updated and recipe.updated|date:'Y-m-d H:i' != recipe.created|date:'Y-m-d H:i' %}
    <p>and was updated at {{recipe.updated}}</p>
{% endif %}

{% if recipe.user == request.user %}
<a class="btn btn-outline-success" href="{{ recipe.get_update_url }}">Edit your Recipe</a>
<!-- <a class="btn btn-outline-danger" href="{{ recipe.get_delete_url }}">Delete Recipe</a> -->
<a class="btn btn-outline-danger" href="{{ recipe.get_delete_url }}" hx-get="{{ recipe.get_delete_url }}" hx-target="#recipe_delete" hx-trigger="click" hx-swap="innerHTMl">Delete Recipe</a>
<div id="recipe_delete"></div>
{% endif %}
