{% extends 'base.html' %}

{% block content %}

<style>
    .inline-elements {
    display: flex;
    align-items: center;
    }
    .inline-elements .display-inline {
        margin-right: 10px; /* Adjust the spacing as needed */
    }
    .hidden {
        display: none;
    }
    .ingredient-form {
        border-bottom: 1px solid black;
        margin: 5px;
    }
</style>

{% if update and object.user != request.user %}
    <h1>This is not your article to edit</h1>
    <a href="{% url 'recipes:list' %}">back to articles</a>
{% elif create or update and request.user == object.user %}

    {% if create %}
        <h1 style="color: blueviolet;">Create a new Recipe</h1>
    {% elif update %}
        <h1 style="color: blueviolet;">Edit your Recipe</h1>
    {% endif %}

    <!-- if the recipe is being created, it will get the create name partial -->
    {% if create %} 
    <div style="margin-top: 50px;" id="main-form"></div>
        {% include 'recipes/partials/par-create-name.html' %}
    </div>

    <!-- and if being updated, it will get the recipe form partial, the create will end up here too -->
    {% elif update %}
        <div style="margin-top: 50px;" id="main-form">
            {% include 'recipes/partials/par-recipe-form.html' %}
        </div>
    {% endif %}

{% endif %}

<!-- this is js, i wont use it now since htmx can do it better

    <script>
    document.addEventListener('click', (event)=>{
        if (event.target.id == 'add-more'){
            add_new_form(event)
        }
    })

    function add_new_form(event) {
        if (event) {
            event.preventDefault()
        }
        const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
        const currentIngredientForms = document.getElementsByClassName('ingredient-form')
        let currentFormsCount = currentIngredientForms.length // + 1
        // console.log(currentFormsCount) 

        const ingredientForms = document.getElementById('ingredient-forms')
        const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'ingredient-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormsCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormsCount)
        totalNewForms.setAttribute('value', currentFormsCount + 1)
        ingredientForms.append(copyEmptyFormEl)
    }
</script> -->

{% endblock %}