{% extends 'base.html' %}

{% block content %}
    {% if update and object.user != request.user %}
        <h1>This is not your article to edit</h1>
        <a href="{% url 'recipes:list' %}">back to articles</a>
    {% elif create or update and request.user == object.user %}

        {% if create %}
            <h1 style="color: blueviolet;">Create a new Recipe</h1>
        {% elif update %}
            <h1 style="color: blueviolet;">Edit your Recipe</h1>
        {% endif %}

        {% if not message %}
        <div style="margin-top: 50px;">

            <form action=".", method="post">

                {% csrf_token %}
                {{ form_r.as_p }}

                {% if form_i %}
                    <h3>Ingredients</h3>
                    {{ form_i.as_p }}
                {% endif %}

                {% if update %}
                    <button type="submit">Update Recipe</button>
                {% else %}
                    <button type="submit">Create Recipe</button>
                {% endif %}

            </form>

        </div>
        {% else %}
            <h4>{{ message }}</h4>
            <a href="{{ object.get_absolute_urls }}">{{object.name}}</a><br>
            <a href="{% url 'recipes:list' %}">Back to Recipes</a>      
        {% endif %}
    {% endif %}    

{% endblock %}