{% extends 'base.html' %}

{% block content %}

<h1 style="color: darkgreen;">{{recipe.name}}, {{recipe.description}}</h1>
<h3>Ingredients:</h3>
<ol>
    {% for i in recipe.ings.all %}
        <li>{{i.name}} - {{i.quantity}} {{i.unit}}</li>
    {% endfor %}
</ol>
<h3>Directions</h3>
<p>{{ recipe.directions }}</p><br><br><br><br>
<p>recipe created at {{recipe.created}}</p> 
{% if recipe.updated and recipe.updated|date:'Y-m-d H:i' != recipe.created|date:'Y-m-d H:i' %}
    <p>and was updated at {{recipe.updated}}</p>
{% endif %}

{% endblock %}