{% extends "base.html" %}
<!-- main page for recipe, shown all the recipes -->
{% block content %}
<h2> You have entered the <span style="color: crimson;">Recipes</span> section</h2>
    

    <ol>    
        {% for r in recipe_list %}
            <li><a href="{{ r.get_absolute_url }}">{{ r.name }} - {{ r.description }}</a></li>
        {% endfor %}
    </ol>
    <br><br>
    <p>Want your recipe to be shown here?</p>
    <a href="{% url 'recipes:create' %}">Create a new Recipe</a>
    

{% endblock %}